/*----FORMATAÇÕES GERAIS----*/
*{
    padding:0px;
    margin:0px;
}

body{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    background:#fff url(img/fundo.png) repeat-x;
}

#container{
    width:750px;
    margin:0 auto;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

/*----Area Superior----*/
    #areaSuperior{
        height:150px;
        background: url(img/detalhe-topo.png)no-repeat right top;
        padding-top:25px;
    }
/*----Logo e detalhe Logo----*/
.logo{
    width:152px;
    height:66px;
    background:url(img/logo.png)no-repeat center;
    text-indent:-3000px;

}


/*----Menu Horizontal----*/
#menuHorizontal ul{
    background: #b10333;
    margin-top:30px;
    float:left;
}

#menuHorizontal ul li{
    float:left;
}

#menuHorizontal ul a{
    text-decoration:none;
    color:#fff;
    font-size:0.9em;
    display:block;
    padding:0.5em 1.5em;
    line-height:2.1em;
    background:url(img/divisor.png) no-repeat left center;
}

#menuHorizontal ul .primeiro a {
    background:none;
}

#menuHorizontal a:hover{
    color:#69001d;
}

.home #menuHorizontal ul a#home{
    color:#fff;
    background:#de003e;
    cursor:text;
}   
