*{
    margin:0px;
    padding:0px;
    font-family: "Trebuchet MS", Helvetica, Sans-serif;
}

ul{
    
    list-style:none;
    width:720px;
    background: url('img/aba-direita.png');
    float:left;
}

ul li{
    float:left;
    border:2px solid red;
    background:url('img/aba-esquerda.png')repeat-y;
    
}

li a{
    text-decoration:none;
    padding:0 2em;
    line-height:3em;
    display:block;
}

