*{
    margin:0px;
    padding:0px;
    font-family: "Trebuchet MS", Helvetica, Sans-serif;
}

ul{
    list-style:none;
    width:720px;
    float:left;
}

ul li{
    float:left;
    background: url('img/aba-direita.png') no-repeat top right;
}

li a{
    background:url('img/aba-esquerda.png') no-repeat top left;
    text-decoration:none;
    padding:0 2em;
    line-height:3em;
    display:block;
    color:#fff
}

ul a:hover {
    color: #894a1f;
}

ul #atual {
    background:url('img/aba-direita-atual.png')no-repeat top right;
}

li#atual a{
    background:url('img/aba-esquerda-atual.png')no-repeat top left;
}



