*{
    padding:0px;
    margin:0px;
}

body{
    font: "Trebuchet MS", Helvetica, sans-serif;
    background:url('img/fundo.jpg');
}

#caixa{
    margin:40% auto;
    width:240px;
    height:240px;
}

input{
    line-height:2em;
    margin:3px auto;
    width:230px;
}

input[submit]{

}

